.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 12px;
}

.btn-wrapper {
    margin-top: 28px;
}

@media screen and (min-width: 1200px) {
    .title {
        font-size: 36px;
        margin-bottom: 16px;
    }

    .btn-wrapper {
        margin-top: 44px;
    }

}