.button {
    font-size: 16px;
    color: #fff;
    padding: 11px 23px 10px 23px;
    border: 1px solid #95CE5A;
    border-radius: 8px;
    background-color: #95CE5A;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    transition: background-color .25s, border-color .25s;
}

.button.l {
    font-size: 18px;
    padding: 15px 23px 14px 23px ;
}

.button a {
    color: initial;
    text-decoration: none;
}

.button.block {
    display: block;
    width: 100%;
}

/* ghost */
.button.ghost {
    background-color: #fff;
    color: #000;
    border-color: #dadee2;
}

/* ghost //end */


@media (hover: hover) {
    .button:hover {
        background-color: #83b54e;
        border-color: #83b54e;
    }


    /* ghost */
    .button.ghost:hover {
        background-color: #fff;
        border-color: #333e50;
    }

    /* ghost //end */
}